---
permalink: /
title: Mika Caldera
description: "A blog about programming, technology, and life."
pageTitle: "creative thoughts & pensive concepts"
logo: /assets/images/mika-logo.svg
heroImage: /assets/images/mika-homepage.jpg
body: "I’m an experienced designer and front-end developer with strong communication skills. My systematic approach to problem solving is reinforced with a balance of organizational skills, tireless determination, and empathy. Through observation and analysis, I have learned to create print and digital products meant to inspire and engage people. Authenticity and diversity are important to me because I believe honesty is the best way to solve problems and grow. I enjoy challenges, strengthening existing systems, and materializing innovative solutions."
buttonText: "resume"
buttonLink: "/assets/images/Resume-Caldera.pdf"
newTab: true
socialLinks:
  - socialLinkText: "Behance"
    socialLinkURL: "https://www.behance.net/mikacaldera"
    socialLinkIcon: /assets/images/behance.svg
  - socialLinkText: "Linkedin"
    socialLinkURL: "https://www.linkedin.com/in/mikacaldera/"
    socialLinkIcon: /assets/images/linkedin.svg
  - socialLinkText: "Instagram"
    socialLinkURL: "https://www.instagram.com/mikacaldera/"
    socialLinkIcon: "/assets/images/instagram.svg"
  - socialLinkText: "Twitter"
    socialLinkURL: "https://twitter.com/mikacaldera"
    socialLinkIcon: /assets/images/twitter.svg
  - socialLinkText: "Github"
    socialLinkURL: "https://github.com/MikaCaldera"
    socialLinkIcon: /assets/images/githu.svg
---

<section class="homepage-card container">
  <div class="homepage-card-wrapper">
    <div class="homepage-card-body">
      <div class="homepage-card-body-top">
        <figure>
            <img src="{{ logo }}" alt="Mika's logo" />
        </figure>
        <h1>{{ pageTitle }}</h1>
        <p>{{ body }}</p>
      </div>
      <div class="homepage-card-body-bottom">
        <div class="homepage-card-buttons">
          <a href="{{ buttonLink }}" class="button" {% if newTab == true %}target="_blank"{% endif %}>{{ buttonText }}</a>
          <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#contactModal">
            say hello
          </button>
        </div>
        <div class="homepage-card-social">
          {% for socialLink in socialLinks %}
          <a href="{{ socialLink.socialLinkURL }}" class="social-link">
            <img src="{{ socialLink.socialLinkIcon }}" alt="{{ socialLink.socialLinkText }}" />
          </a>
          {% endfor %}
        </div>
        

      </div>
    </div>
    <div class="homepage-card-image" style="background-image: url('{{ heroImage }}')"></div>
  </div>
  <div class="modal fade" id="contactModal" tabindex="-1"  aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form name="contact" method="POST" data-netlify="true" action="/thank-you/">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="contactModalLabel">say hello</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
        
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">your name</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Janet Smith">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
