---
permalink: /thank-you/
title: Thank You! 👍
description: "thank you page"
sitemapIgnore: true
index: false
pageTitle: "Thank you for reaching out! 🎉"
logo: /assets/images/mika-logo.svg
heroImage: /assets/images/mika-homepage.jpg
body: "Thank you for reaching out. I truly appreciate your message and look forward to connecting soon."
buttonText: "resume"
buttonLink: "/assets/images/Resume-Caldera.pdf"
newTab: true
socialLinks:
  - socialLinkText: "Behance"
    socialLinkURL: "https://www.behance.net/mikacaldera"
    socialLinkIcon: /assets/images/behance.svg
  - socialLinkText: "Linkedin"
    socialLinkURL: "https://www.linkedin.com/in/mikacaldera/"
    socialLinkIcon: /assets/images/linkedin.svg
  - socialLinkText: "Instagram"
    socialLinkURL: "https://www.instagram.com/mikacaldera/"
    socialLinkIcon: "/assets/images/instagram.svg"
  - socialLinkText: "Twitter"
    socialLinkURL: "https://twitter.com/mikacaldera"
    socialLinkIcon: /assets/images/twitter.svg
  - socialLinkText: "Github"
    socialLinkURL: "https://github.com/MikaCaldera"
    socialLinkIcon: /assets/images/githu.svg
---

<section class="homepage-card container">
  <div class="homepage-card-wrapper">
    <div class="homepage-card-body">
      <div class="homepage-card-body-top">
        <figure>
            <img src="{{ logo }}" alt="Mika's logo" />
        </figure>
        <h1>{{ pageTitle }}</h1>
        <p>{{ body }}</p>
      </div>
      <div class="homepage-card-body-bottom">
        <div class="homepage-card-buttons">
          <a href="{{ buttonLink }}" class="button" {% if newTab == true %}target="_blank"{% endif %}>{{ buttonText }}</a>
          <a href="/" class="button">Return to Homepage</button>
        </div>
        <div class="homepage-card-social">
          {% for socialLink in socialLinks %}
          <a href="{{ socialLink.socialLinkURL }}" class="social-link">
            <img src="{{ socialLink.socialLinkIcon }}" alt="{{ socialLink.socialLinkText }}" />
          </a>
          {% endfor %}
        </div>
        
       
      </div>
    </div>
    <div class="homepage-card-image" style="background-image: url('{{ heroImage }}')"></div>
  </div>
</section>