---
title: '404 - not found'
layout: base.njk
permalink: /404.html
eleventyExcludeFromCollections: true
---
<div class="container">
  <div class="py-5 text-center">
    <h1>404 - page not found</h1>
    <a class="mb-5" href="/">back to home</a>
      
    </div>
  </div>
